<div class="ui-g" *ngIf='displayGrid'>
<div class="row">
    <a (click)="onAddNew()" class="btn-floating btn-small waves-effect waves-light green right"><i class="material-icons">+</i></a>
  </div>
  <table class="highlight responsive-table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Info</th>
          <th class="right">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let appt of appointments'>
            <td> {{appt.fullName}} </td> 
            <td> {{ appt.startTime | date:'MM/dd/yyyy HH:mm' }} </td>  
            <td> {{ appt.endTime | date:'MM/dd/yyyy HH:mm' }} </td> 
            <td> {{appt.info}} </td> 
            <td><button (click)='onEdit(appt)' class='btn-floating btn-small waves-effect waves-light blue right'>Edit</button></td>
            <td><button (click)='onDelete(appt.appointment_ID)' class='btn-floating btn-small waves-effect waves-light red right'>X</button></td>
          </tr>
    </tbody>
  </table>
</div>
<div class="ui-g" *ngIf='displayCreate'>
    <div class="row">
        <form #AppForm="ngForm" (ngSubmit)="onSave()">
            <div class="row">
                <div class="col s6">
                  <label for="selectDate">Date</label>
                  <input [owlDateTimeTrigger]="selectDate" name="selectDate" [owlDateTime]="selectDate" [(ngModel)]="appointment.selectDate">
                  <owl-date-time [pickerType]="'calendar'" #selectDate></owl-date-time>
                </div>
            </div>
          <div class="row">
              <div class="col s6">
                <label for="endTime">Start Time</label>   
                <input [owlDateTimeTrigger]="startTime" [owlDateTime]="startTime" [(ngModel)]="appointment.startTime" name="startTime" required>
                <owl-date-time [pickerType]="'timer'" #startTime></owl-date-time>
              </div>
            <div class="col s6">
                <label for="endTime">End Time</label>    
                <input [owlDateTimeTrigger]="endTime" [min]="appointment.startTime" [owlDateTime]="endTime" [(ngModel)]="appointment.endTime" name="endTime" required>
                <owl-date-time [pickerType]="'timer'" #endTime></owl-date-time>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <label for="info">Information</label>  
              <input name="info" type="text" pInputText [(ngModel)]="appointment.info" #appointmentInfo="ngModel" required>
            </div>
          </div>
          <div class="row center">
            <div class="input-field col s6">
                <button [disabled]="!AppForm.valid" class="btn-small btn-submit">Submit</button>
            </div>
            <div class="input-field col s6">
                    <button (click)="onCancel()"  class="btn-small btn-cancel">Cancel</button>
            </div>
            
         </div>
        </form>
      </div>
</div>