<div class="container">
    <div class="col s12 m4 l8">
  <div class="section">
      <h5>Login</h5>
<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
 <div class="row">
   <div class="input-field col s12">
     <i class="material-icons prefix"></i>
     <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
   </div>
 </div>
 <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix"></i>
      <input type="password" #Password ngModel name="Password" placeholder="Password" required>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
      </div>
    </div>
</form>
</div>
</div>
</div>